@mixin list-stiyle() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin text-decaration() {
  text-decoration: none;
}

@mixin bacraund-img($position, $size) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin display($direction, $iteam, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $iteam;
  justify-content: $justify;
}

@mixin before-after($position, $size) {
  content: "";
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin breakpoint-up($size) {
  @media only screen and (min-width: $size) {
  }
}

@mixin title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  font-feature-settings: "cpsp" on;
  color: #363636;
}

@mixin text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #363636;
}
